footer {
    background-color: #0C1524;
    position: relative;
    padding: 120px 60px 40px 60px;
}

.form {
    width: 55%;
    background-color: #1B2330;
    position: absolute;
    left: 25%;
    top: -40%;
    text-align: center;
    padding: 40px 40px;
}

.form h2 {
    font-size: 1.4em;
    color: white;
    margin-bottom: 25px;
}

.form p {
    color: white;
    margin-bottom: 30px;
}

.form form input {
    border-radius: 25px;
    padding: 8px 55px;
    margin: 0 15px;
    border: none;
}

.form form button {
    padding: 8px 20px;
    background-color: #43AED2;
    color: white;
    border-radius: 25px;
    border: none;
}

footer .footer-logo {
    width: 120px;
    height: auto;
    margin-bottom: 20px;
    padding: 20px 0;
}

footer .footer-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-info .info1 {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.footer-info .info1 .location-icon {
    font-size: 0.8em;
    color: white;
    margin-right: 10px;
}

.footer-info .info1 p {
    color: white;
}


.footer-info .info2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 20%;
    padding-left: 20px;
}

.footer-info .info2 span{
    font-size: 0.8em;
    color: white;
    margin-right: 10px;
    margin-bottom: 20px;
}


.footer-info .info2 p {
    flex-basis: 90%;
    color: white;
}

.footer-info .info3 ul {
    columns: 2;
}

.footer-info .info3 ul li {
    list-style-type: none;
    margin-bottom: 10px;
    flex: 1 1 10px;
}

.footer-info .info3 ul li a {
    text-decoration: none;
    color: white;
}

.footer-info .info4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;

}

.footer-info .info4 .social-icon{
    font-size: 0.9em;
    width: 45px;
    height: 45px;
    color: white;
    margin-left: 20px;
    border: 1px solid white;
    border-radius: 50%;
    display: grid;
    place-content: center;
}

@media screen and (max-width: 768px) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 175px 20px 60px 20px;
    }

    .form {
        width: 90%;
        top: -19%;
        left: 5%;
        padding: 20px;
    }

    .form form input {
        padding: 8px 35px;
        margin-bottom: 10px;
    }

    .form form button {
        padding: 8px 59px;
    }

    footer .footer-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .footer-info .info1 {
        width: 100%;
    }

    .footer-info .info2 {
        width: 100%;
        padding-left: 0;
        justify-content: flex-start;
        margin-bottom: 25px;
    }

    .footer-info .info2 p {
        flex-basis: 90%;
    }

    .footer-info .info3 ul {
        columns: 1;
    }

    .footer-info .info1 p {
        margin-bottom: 15px;
    }

    .footer-info .info3 ul li:nth-child(4) {
        margin-bottom: 40px;
    }

    .footer-info .info3 ul li:last-child {
        margin-bottom: 40px;
    }

    .footer-info .info4 {
        margin: 0;
        width: 100%;
        justify-content: space-evenly;
    }

    .icon {
        font-size: 1em;
    }
}