.perks {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    padding: 50px 40px;
    justify-items: center;
    align-items: center;
    background-color: #181f2b;
    row-gap: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
    
}

.card img {
    margin: 10px 0;
}

.card-title {
    text-align: center;
    color: white;
    margin: 10px 0;
}

.card-text {
    color: white;
    width: 95%;
    text-align: center;
    font-size: 1em;
    margin: 10px 0;
}


@media screen and (max-width: 767px){
    .perks {
        grid-template: 1fr / auto;
        padding: 30px;
    }

    .card {
        width: 100%;
    }

    .card-title {
        font-size: 1.2em;
    }

    .card-text {
        font-size: 0.8em;
    }
}